body {
	background-color: #CDDC39;
}

#robot {
	position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#robot .triggered {
    -webkit-animation: going-red 2s, getting-triggered 0.1s infinite alternate;
    -moz-animation: going-red 2s, getting-triggered 0.1s infinite alternate;
    -o-animation: going-red 2s, getting-triggered 0.1s infinite alternate;
    animation: going-red 2s, getting-triggered 0.1s infinite alternate;
}

#robot .relaxed{
    -webkit-animation: going-back 2s;
    -moz-animation: going-back 2s;
    -o-animation: going-back 2s;
    animation: going-back 2s;
}

#robot .head {
	width:  300px;
	height: 300px;
	background-color: #607D8B;
	position: relative;
}

.head > * {
    width:  80%;
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.eyes {
	height: 80px;
	top: 50px;
}

.left-eye, .right-eye { 
	width:  80px;
	height: 100%;
    background-color: #FFEB3B;
    position: absolute;
    border-radius: 8px;
}

.right-eye {
    right: 0;
}

.iris {
	width: 20px;
	height: 20px;
    left: 0;
    top: 0;
	background-color: #263238;
	position: absolute;
	border-radius: 50px;
}

.mouth {
    height: 60px;
	background-color: white;
    bottom: 15px;
    border: 15px solid #D7CCC8;
}

 .antena {
 	width:  30px;
	height: 119px;
	background-color: #78909C;
    position: relative;
    left: 30px;
 }

 .antena:before {
 	content: "\0020";
 	float: left;
 	width:  57px;
	height: 57px;
    background-color: #FFEA00;  
    position: relative;  
    bottom: 50px;
    right: 15px;
    border-radius: 50px;
 }

 .teeth {
 	width: 100%;
 	height: 100%;
 	border-collapse: collapse;
 	border-style: hidden;
 }

.teeth td {
	width:  20%;
	height: 50%;
	border: 2px solid black;
}

/*Animations
  going-red animtation
*/
@-webkit-keyframes going-red {
    from { background-color: #607D8B; }
    to { background-color: #D50000; }
}

@-moz-keyframes going-red {
    from { background-color: #607D8B; }
    to { background-color: #D50000; }
}

@-o-keyframes going-red {
    from { background-color: #607D8B; }
    to { background-color: #D50000; }
}

@keyframes going-red {
    from { background-color: #607D8B; }
    to { background-color: #D50000; }
}

/*going-back animtation*/
@-webkit-keyframes going-back {
    from { background-color: #D50000; }
    to { background-color: #607D8B; }
}

@-moz-keyframes going-back {
    from { background-color: #D50000; }
    to { background-color: #607D8B; }
}

@-o-keyframes going-back {
    from { background-color: #D50000; }
    to { background-color: #607D8B; }
}

@keyframes going-back {
    from { background-color: #D50000; }
    to { background-color: #607D8B; }
}

/*going-getting-triggered animtation*/
@-webkit-keyframes getting-triggered {
    from {
        left: 49.5%;
        transform: translateX(-50%);
    }
    to {
        left: 50.5%;
        transform: translateX(-50%);
    }
}

@-moz-keyframes getting-triggered {
    from {
        left: 49.5%;
        transform: translateX(-50%);
    }
    to {
        left: 50.5%;
        transform: translateX(-50%);
    }
}

@-o-keyframes getting-triggered {
    from {
        left: 49.5%;
        transform: translateX(-50%);
    }
    to {
        left: 50.5%;
        transform: translateX(-50%);
    }
}

@keyframes getting-triggered {
    from {
        left: 49.5%;
        transform: translateX(-50%);
    }
    to {
        left: 50.5%;
        transform: translateX(-50%);
    }
}