/** {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}*/

body {
	background-color: #CDDC39;
}

.robot {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.head {
	width:  300px;
	height: 300px;
	background-color: #FF7043;
    position: relative;
	/*position:absolute;
	left:50%;
	top:50%;
	margin:-150px 0 0 -150px;*/
}

.head > * {
    width:  80%;
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.eyes {
	height: 80px;
	top: 50px;
}

.left-eye, .right-eye { 
	width:  80px;
	height: 100%;
    background-color: #FFFF00;
    position: absolute;
    border-radius: 8px;
}

.right-eye {
    right: 0px;
}

.iris {
	width: 20px;
	height: 20px;
    left: 0px;
    top: 0px;
	background-color: #558B2F;
	position: absolute;
	border-radius: 50px;
}

.mouth {
    height: 60px;
	background-color: white;
    bottom: 15px;
    border: 15px solid #D7CCC8;
}

 .antena {
 	width:  30px;
	height: 119px;
	background-color: #FFCC80;
    position: relative;
    left: 30px;
 }

 .antena:before {
 	content: "\0020";
 	float: left;
 	width:  57px;
	height: 57px;
	color: #E65100;
    background: #E65100;  
    position: relative;  
    bottom: 50px;
    right: 15px;
    border-radius: 50px;
 }
