body {
	background-color: #CDDC39;
}

#robot {
	position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.head {
	width:  300px;
	height: 300px;
	background-color: #607D8B;
	position: relative;
}

.head > * {
    width:  80%;
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.head:hover {
 	background-color: #FF3D00;
 }

.eyes {
	height: 80px;
	top: 50px;
}

.left-eye, .right-eye { 
	width:  80px;
	height: 100%;
    background-color: #FFEB3B;
    position: absolute;
    border-radius: 8px;
}

.right-eye {
    right: 0;
}

.iris {
	width: 20px;
	height: 20px;
    left: 0;
    top: 0;
	background-color: #263238;
	position: absolute;
	border-radius: 50px;
}

.mouth {
    height: 60px;
	background-color: white;
    bottom: 15px;
    border: 15px solid #D7CCC8;
}

 .antena {
 	width:  30px;
	height: 119px;
	background-color: #78909C;
    position: relative;
    left: 30px;
 }

 .antena:before {
 	content: "\0020";
 	float: left;
 	width:  57px;
	height: 57px;
    background-color: #FFEA00;  
    position: relative;  
    bottom: 50px;
    right: 15px;
    border-radius: 50px;
 }

 .teeth {
 	width: 100%;
 	height: 100%;
 	border-collapse: collapse;
 	border-style: hidden;
 }

.teeth td {
	width:  20%;
	height: 50%;
	border: 2px solid black;
}
