body{
	background-color: #CDDC39;
}

.head {
	width:  300px;
	height: 300px;
	background-color: #607D8B;
	position:absolute;
	left:50%;
	top:50%;
	margin:-150px 0 0 -150px;
}

.head:hover {
 	background-color: #FF3D00;
 }

.eyes {
	width:  235px;
	height: 80px;
	position: absolute;
	top: 50px;
	left: 30px;

}

.left-eye, .right-eye { 
	width:  80px;
	height: 100%;
    background-color: #FFEB3B;
    position: absolute;
    border-radius: 8px;
}

.right-eye {
    right: 0px;
}

.iris {
	width: 20px;
	height: 20px;
    left: 0px;
    top: 0px;
	background-color: #263238;
	position: absolute;
	border-radius: 50px;
}

.mouth {
	width: 220px;
	height: 60px;
	background-color: white;
	margin: auto;
	margin-top: 180px;
	border: 15px solid #D7CCC8;
 }

 .antena {
 	width:  30px;
	height: 119px;
	background-color: #78909C;
	position: absolute;
	left: 52%;
	top: 32%;
	margin:-150px 0 0 -150px;
 }

 .antena:before {
 	content: "\0020";
 	float: left;
 	width:  57px;
	height: 57px;
    background-color: #FFEA00;  
    position: relative;  
    bottom: 50px;
    right: 15px;
    border-radius: 50px;
 }

 .teeth {
 	width: 100%;
 	height: 100%;
 	border-collapse: collapse;
 	border-style: hidden;
 }

.teeth td {
	width:  20%;
	height: 50%;
	border: 2px solid black;
}